{% extends "base.html" %}
{% block body %}
<h1>Fitness Application</h1>
<p>An app that manages fitness routines. This app allows you to see workouts, exercises, and users.</p>
<h2>Fitness Details</h2>
<div class="list-group">
    <a href="users" class="list-group-item list-group-item-action">Users</a>
    <a href="exercises" class="list-group-item list-group-item-action">Exercises</a>
    <a href="workouts" class="list-group-item list-group-item-action">Workouts</a>
    <a href="workoutdetails" class="list-group-item list-group-item-action">Workout Details</a>
</div>
{% endblock %}